


<div class="col-md-4">
    <div class="form-group">
    <label>Gender</label>
    <select name="gender" class="selectpicker" data-title="Select Gender" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
    {% for x,y in form.fields.gender.choices %}
       <option value="{{ x }}"{% if form.fields.gender.value == x %} selected{% endif %}>{{ y }}</option>
    {% endfor %}
    </select>
  </div>  
</div>

 <div class="row">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
        <form method="POST" id="salaryform">
          {{ form.csrf_token }}
          {{ form.from_country.label }} {{ form.from_country(id='from_country') }}
          {{ form.salary.label }} {{ form.salary(id='salary', placeholder="For Example, 100000") }}
          <small id="error_salary" class="hidden">Please enter a salary</small>
          {{ form.to_country.label }} {{ form.to_country(id='to_country') }}
          <input type="submit" class="medium button" value="Calculate" />
        </form>
      </div>
      <div class="large-3 columns">&nbsp;</div>
    </div>
    <br />
    <div class="row{% if not currency_value %} hidden{% endif %}" id="displayResult">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
        <div class="panel callout radius" id="resultDiv">
          In {{ tocountry.name }}, {{ currency_value }} {{ tocountry.currency }} will allow you to buy the same things you'd buy with {{ input_value }} {{ fromcountry.currency }} in {{ fromcountry.name }}.
        </div>
      </div>
      <div class="large-3 columns">&nbsp;</div>
    </div>




<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type ='submit' value ='Save'/>
</form>
<p> {{form_data.amt}} {{form_data.cur1}} in {{form_data.cuntr1}} would be worth {{form_data.final}} {x{form_data.cur2}} in {{form_data.cuntr2}}</p>
</div>
</body>
</html>        <!he models chya goshti, table cha model madhech vapar>

















<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World - Bootstrap Theme</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/bootstrap4-hello-world.min.css">
    
    
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,400" rel="stylesheet">
    
    
  </head>
  <body>

 <div class="row">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
         <form method="post">
         {% csrf_token %}
         {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Find</button>
  </form>
      </div>
      {{form_data.amt}} {{form_data.cur1}} {{form_data.str1}} {{form_data.cuntr1}} {{form_data.str2}} {{form_data.final}} {{form_data.cur2}} {{form_data.cur1}} {{form_data.cuntr2}}       <div class="large-3 columns">&nbsp;</div>
    </div>
    <br />

    <div class="row{% if not currency_value %} hidden{% endif %}" id="displayResult">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
        <div class="panel callout radius" id="resultDiv">
      <p>   
      </div>
      <div class="large-3 columns">&nbsp;</div>
    </div>


<div class="container py-5">
  <h1>Thanks</h1>

  <p>FUCKYE<br>
    <a href="https://github.com/HackerThemes/theme-machine">https://github.com/HackerThemes/theme-machine</a></p>

  
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>













xxxxxxxxxxxxxxxxx

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World - Bootstrap Theme</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/bootstrap4-hello-world.min.css">
    
    
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,400" rel="stylesheet">
    
    
  </head>
  <body>

 <div class="row">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
         <form method="post">
         {% csrf_token %}
         {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Find</button>
  </form>
      </div>
      {{form_data.amt}} {{form_data.cur1}} {{form_data.str1}} {{form_data.cuntr1}} {{form_data.str2}} {{form_data.final}} {{form_data.cur2}} {{form_data.cur1}} {{form_data.cuntr2}}       <div class="large-3 columns">&nbsp;</div>
    </div>
    <br />

    <div class="row{% if not currency_value %} hidden{% endif %}" id="displayResult">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">
        <div class="panel callout radius" id="resultDiv">
      <p>   
      </div>
      <div class="large-3 columns">&nbsp;</div>
    </div>


<div class="container py-5">
  <h1>Thanks</h1>

  <p>FUCKYE<br>
    <a href="https://github.com/HackerThemes/theme-machine">https://github.com/HackerThemes/theme-machine</a></p>

  
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>







77777777777777777777777777777777777777777777


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">    
        <title>PPP</title> 

  </head>


 <body id="bg" style="background-image: url('{% static "home/images/wtf.png"%}')";>

      <div class="column is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <h3 clas="title is-size3">PPP</h3>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="field">
              <label for="{{ field.id_for_label}}" class="label">{{ field.html_name }}</label>
              {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="button is-primary">Find</button>
      </div>
       <div class="column is-half is-offset-one-quarter">
      {{form_data.amt}} {{form_data.cur1}} {{form_data.str1}} {{form_data.cuntr1}} {{form_data.str2}} {{form_data.final}} {{form_data.cur2}} {{form_data.cur1}} {{form_data.cuntr2}}       <div class="large-3 columns">&nbsp;</div>
    </div>
    </form>
  </div>


</body>
</html>


