<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World - Bootstrap Theme</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/bootstrap4-hello-world.min.css">
    
    
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,400" rel="stylesheet">
    
    
  </head>
  <body>


  
<div class="container py-5 mb5">

  <h1 class="mb-5">PPP</h1>

  <div class="row py-4">
    <div class="col-md-4 order-md-2 mb-4">
  

        <div class="input-group">
          <div class="input-group-append">
     
          </div>
        </div>
    </div>

    <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-8 mb-3">
            <label for="firstName">First Country</label>
            <select type="text" id="colorSelect" name="colorSelect">
      			  <option selected>GREEN</option>
       			 <option>BLUE</option>
       			 <option>RED</option>
       			 <option>ORANGE</option>
       			 <option>BLACK</option>
   				 </select>
            <input type="text" class="form-control" id="firstName" placeholder="India" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

        <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="firstName">Amount</label>
            <input type="text" class="form-control" id="firstName" placeholder="USA" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

       <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="Amount">Amount</label>
            <input type="" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
        <hr class="mb-5">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Find</button>
      </form>
    </div>
  </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
