

{% load crispy_forms_tags %}
{% load  static %}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<style>    

  select>option{ 
                   height:40px;
                 }
  overflow-: hidden;
 
</style>
 <body id="bg" style="background-image: url('{% static "home/images/wtf.png"%}')";>
    <section class="hero  is-fullheight">
        <div class="hero-body">
          
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Purhcasing Parity Power</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black"></p>
                    <div class="box is-large">
               <div class="large-5 columns">&nbsp;</div>

                      <div class="element">
                       <form method="post">
                           {% csrf_token %}
                           <input type="hidden" name="csrfmiddlewaretoken" value="fEq7PA1skwk0OqNis2jrCEcoBB0T0FUM1LK5NX0nstzjgOvrWXMVaBD0TDCERTky">
                          
                          <div class="field">
                         <label for="id_Country1" class="label">Source Country</label>
                                    <select class="is-large"  id="wgtmsr" name="Country1" required id="id_Country1" >

   <option value="" selected>Choose A Country</option>

  <option value="Afghanistan">Afghanistan</option>

  <option value="Angola">Angola</option>

  <option value="Albania">Albania</option>

  <option value="United Arab Emirates">United Arab Emirates</option>

  <option value="Argentina">Argentina</option>

  <option value="Armenia">Armenia</option>

  <option value="Antigua and Barbuda">Antigua and Barbuda</option>

  <option value="Australia">Australia</option>

  <option value="Austria">Austria</option>

  <option value="Azerbaijan">Azerbaijan</option>

  <option value="Burundi">Burundi</option>

  <option value="Belgium">Belgium</option>

  <option value="Benin">Benin</option>

  <option value="Burkina Faso">Burkina Faso</option>

  <option value="Bangladesh">Bangladesh</option>

  <option value="Bulgaria">Bulgaria</option>

  <option value="Bahrain">Bahrain</option>

  <option value="Bahamas, The">Bahamas, The</option>

  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>

  <option value="Belarus">Belarus</option>

  <option value="Belize">Belize</option>

  <option value="Bolivia">Bolivia</option>

  <option value="Brazil">Brazil</option>

  <option value="Barbados">Barbados</option>

  <option value="Brunei Darussalam">Brunei Darussalam</option>

  <option value="Bhutan">Bhutan</option>

  <option value="Botswana">Botswana</option>

  <option value="Central African Republic">Central African Republic</option>

  <option value="Canada">Canada</option>

  <option value="Switzerland">Switzerland</option>

  <option value="Chile">Chile</option>

  <option value="China">China</option>

  <option value="Cote d&#x27;Ivoire">Cote d&#x27;Ivoire</option>

  <option value="Cameroon">Cameroon</option>

  <option value="Congo, Dem. Rep.">Congo, Dem. Rep.</option>

  <option value="Congo, Rep.">Congo, Rep.</option>

  <option value="Colombia">Colombia</option>

  <option value="Comoros">Comoros</option>

  <option value="Cabo Verde">Cabo Verde</option>

  <option value="Costa Rica">Costa Rica</option>

  <option value="Curacao">Curacao</option>

  <option value="Cyprus">Cyprus</option>

  <option value="Czech Republic">Czech Republic</option>

  <option value="Germany">Germany</option>

  <option value="Dominica">Dominica</option>

  <option value="Denmark">Denmark</option>

  <option value="Dominican Republic">Dominican Republic</option>

  <option value="Algeria">Algeria</option>

  <option value="Ecuador">Ecuador</option>

  <option value="Egypt, Arab Rep.">Egypt, Arab Rep.</option>

  <option value="Spain">Spain</option>

  <option value="Estonia">Estonia</option>

  <option value="Ethiopia">Ethiopia</option>

  <option value="Finland">Finland</option>

  <option value="Fiji">Fiji</option>

  <option value="France">France</option>

  <option value="Micronesia, Fed. Sts.">Micronesia, Fed. Sts.</option>

  <option value="Gabon">Gabon</option>

  <option value="United Kingdom">United Kingdom</option>

  <option value="Georgia">Georgia</option>

  <option value="Ghana">Ghana</option>

  <option value="Guinea">Guinea</option>

  <option value="Gambia, The">Gambia, The</option>

  <option value="Guinea-Bissau">Guinea-Bissau</option>

  <option value="Equatorial Guinea">Equatorial Guinea</option>

  <option value="Greece">Greece</option>

  <option value="Grenada">Grenada</option>

  <option value="Guatemala">Guatemala</option>

  <option value="Guyana">Guyana</option>

  <option value="Hong Kong SAR, China">Hong Kong SAR, China</option>

  <option value="Honduras">Honduras</option>

  <option value="Croatia">Croatia</option>

  <option value="Haiti">Haiti</option>

  <option value="Hungary">Hungary</option>

  <option value="Indonesia">Indonesia</option>

  <option value="India">India</option>

  <option value="Ireland">Ireland</option>

  <option value="Iraq">Iraq</option>

  <option value="Iceland">Iceland</option>

  <option value="Israel">Israel</option>

  <option value="Italy">Italy</option>

  <option value="Jamaica">Jamaica</option>

  <option value="Jordan">Jordan</option>

  <option value="Japan">Japan</option>

  <option value="Kazakhstan">Kazakhstan</option>

  <option value="Kenya">Kenya</option>

  <option value="Kyrgyz Republic">Kyrgyz Republic</option>

  <option value="Cambodia">Cambodia</option>

  <option value="Kiribati">Kiribati</option>

  <option value="St. Kitts and Nevis">St. Kitts and Nevis</option>

  <option value="Korea, Rep.">Korea, Rep.</option>

  <option value="Kuwait">Kuwait</option>

  <option value="Lao PDR">Lao PDR</option>

  <option value="Lebanon">Lebanon</option>

  <option value="Liberia">Liberia</option>

  <option value="Libya">Libya</option>

  <option value="St. Lucia">St. Lucia</option>

  <option value="Sri Lanka">Sri Lanka</option>

  <option value="Lesotho">Lesotho</option>

  <option value="Lithuania">Lithuania</option>

  <option value="Luxembourg">Luxembourg</option>

  <option value="Latvia">Latvia</option>

  <option value="Macao SAR, China">Macao SAR, China</option>

  <option value="Morocco">Morocco</option>

  <option value="Moldova">Moldova</option>

  <option value="Madagascar">Madagascar</option>

  <option value="Maldives">Maldives</option>

  <option value="Mexico">Mexico</option>

  <option value="Marshall Islands">Marshall Islands</option>

  <option value="North Macedonia">North Macedonia</option>

  <option value="Mali">Mali</option>

  <option value="Malta">Malta</option>

  <option value="Myanmar">Myanmar</option>

  <option value="Montenegro">Montenegro</option>

  <option value="Mongolia">Mongolia</option>

  <option value="Mozambique">Mozambique</option>

  <option value="Mauritania">Mauritania</option>

  <option value="Mauritius">Mauritius</option>

  <option value="Malawi">Malawi</option>

  <option value="Malaysia">Malaysia</option>

  <option value="Namibia">Namibia</option>

  <option value="Niger">Niger</option>

  <option value="Nigeria">Nigeria</option>

  <option value="Nicaragua">Nicaragua</option>

  <option value="Netherlands">Netherlands</option>

  <option value="Norway">Norway</option>

  <option value="Nepal">Nepal</option>

  <option value="Nauru">Nauru</option>

  <option value="New Zealand">New Zealand</option>

  <option value="Oman">Oman</option>

  <option value="Pakistan">Pakistan</option>

  <option value="Panama">Panama</option>

  <option value="Peru">Peru</option>

  <option value="Philippines">Philippines</option>

  <option value="Palau">Palau</option>

  <option value="Papua New Guinea">Papua New Guinea</option>

  <option value="Poland">Poland</option>

  <option value="Puerto Rico">Puerto Rico</option>

  <option value="Portugal">Portugal</option>

  <option value="Paraguay">Paraguay</option>

  <option value="West Bank and Gaza">West Bank and Gaza</option>

  <option value="Qatar">Qatar</option>

  <option value="Romania">Romania</option>

  <option value="Russian Federation">Russian Federation</option>

  <option value="Rwanda">Rwanda</option>

  <option value="Saudi Arabia">Saudi Arabia</option>

  <option value="Sudan">Sudan</option>

  <option value="Senegal">Senegal</option>

  <option value="Singapore">Singapore</option>

  <option value="Solomon Islands">Solomon Islands</option>

  <option value="Sierra Leone">Sierra Leone</option>

  <option value="El Salvador">El Salvador</option>

  <option value="Serbia">Serbia</option>

  <option value="Sao Tome and Principe">Sao Tome and Principe</option>

  <option value="Suriname">Suriname</option>

  <option value="Slovak Republic">Slovak Republic</option>

  <option value="Slovenia">Slovenia</option>

  <option value="Sweden">Sweden</option>

  <option value="Eswatini">Eswatini</option>

  <option value="Seychelles">Seychelles</option>

  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>

  <option value="Chad">Chad</option>

  <option value="Togo">Togo</option>

  <option value="Thailand">Thailand</option>

  <option value="Tajikistan">Tajikistan</option>

  <option value="Turkmenistan">Turkmenistan</option>

  <option value="Timor-Leste">Timor-Leste</option>

  <option value="Tonga">Tonga</option>

  <option value="Trinidad and Tobago">Trinidad and Tobago</option>

  <option value="Tunisia">Tunisia</option>

  <option value="Turkey">Turkey</option>

  <option value="Tuvalu">Tuvalu</option>

  <option value="Tanzania">Tanzania</option>

  <option value="Uganda">Uganda</option>

  <option value="Ukraine">Ukraine</option>

  <option value="Uruguay">Uruguay</option>

  <option value="United States">United States</option>

  <option value="Uzbekistan">Uzbekistan</option>

  <option value="St. Vincent and the Grenadines">St. Vincent and the Grenadines</option>

  <option value="Vietnam">Vietnam</option>

  <option value="Vanuatu">Vanuatu</option>

  <option value="Samoa">Samoa</option>

  <option value="Kosovo">Kosovo</option>

  <option value="Yemen, Rep.">Yemen, Rep.</option>

  <option value="South Africa">South Africa</option>

  <option value="Zambia">Zambia</option>

  <option value="Zimbabwe">Zimbabwe</option>

</select>
                                  </div>
                                  
                          <div class="field">
                         <label for="id_Amount" class="label">Amount</label>
                                    <input type="number is-large" name="Amount" step="any" required id="id_Amount" autofocus="">
                                  </div>
<div class="field">
<label for="id_Country2" class="label">Destination Country</label>
                                    <select class="is-large"  id="wgtmsr" name="Country2" required id="id_Country1" >
   <option value="" selected>Choose A Country</option>

  <option value="Afghanistan">Afghanistan</option>

  <option value="Angola">Angola</option>

  <option value="Albania">Albania</option>

  <option value="United Arab Emirates">United Arab Emirates</option>

  <option value="Argentina">Argentina</option>

  <option value="Armenia">Armenia</option>

  <option value="Antigua and Barbuda">Antigua and Barbuda</option>

  <option value="Australia">Australia</option>

  <option value="Austria">Austria</option>

  <option value="Azerbaijan">Azerbaijan</option>

  <option value="Burundi">Burundi</option>

  <option value="Belgium">Belgium</option>

  <option value="Benin">Benin</option>

  <option value="Burkina Faso">Burkina Faso</option>

  <option value="Bangladesh">Bangladesh</option>

  <option value="Bulgaria">Bulgaria</option>

  <option value="Bahrain">Bahrain</option>

  <option value="Bahamas, The">Bahamas, The</option>

  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>

  <option value="Belarus">Belarus</option>

  <option value="Belize">Belize</option>

  <option value="Bolivia">Bolivia</option>

  <option value="Brazil">Brazil</option>

  <option value="Barbados">Barbados</option>

  <option value="Brunei Darussalam">Brunei Darussalam</option>

  <option value="Bhutan">Bhutan</option>

  <option value="Botswana">Botswana</option>

  <option value="Central African Republic">Central African Republic</option>

  <option value="Canada">Canada</option>

  <option value="Switzerland">Switzerland</option>

  <option value="Chile">Chile</option>

  <option value="China">China</option>

  <option value="Cote d&#x27;Ivoire">Cote d&#x27;Ivoire</option>

  <option value="Cameroon">Cameroon</option>

  <option value="Congo, Dem. Rep.">Congo, Dem. Rep.</option>

  <option value="Congo, Rep.">Congo, Rep.</option>

  <option value="Colombia">Colombia</option>

  <option value="Comoros">Comoros</option>

  <option value="Cabo Verde">Cabo Verde</option>

  <option value="Costa Rica">Costa Rica</option>

  <option value="Curacao">Curacao</option>

  <option value="Cyprus">Cyprus</option>

  <option value="Czech Republic">Czech Republic</option>

  <option value="Germany">Germany</option>

  <option value="Dominica">Dominica</option>

  <option value="Denmark">Denmark</option>

  <option value="Dominican Republic">Dominican Republic</option>

  <option value="Algeria">Algeria</option>

  <option value="Ecuador">Ecuador</option>

  <option value="Egypt, Arab Rep.">Egypt, Arab Rep.</option>

  <option value="Spain">Spain</option>

  <option value="Estonia">Estonia</option>

  <option value="Ethiopia">Ethiopia</option>

  <option value="Finland">Finland</option>

  <option value="Fiji">Fiji</option>

  <option value="France">France</option>

  <option value="Micronesia, Fed. Sts.">Micronesia, Fed. Sts.</option>

  <option value="Gabon">Gabon</option>

  <option value="United Kingdom">United Kingdom</option>

  <option value="Georgia">Georgia</option>

  <option value="Ghana">Ghana</option>

  <option value="Guinea">Guinea</option>

  <option value="Gambia, The">Gambia, The</option>

  <option value="Guinea-Bissau">Guinea-Bissau</option>

  <option value="Equatorial Guinea">Equatorial Guinea</option>

  <option value="Greece">Greece</option>

  <option value="Grenada">Grenada</option>

  <option value="Guatemala">Guatemala</option>

  <option value="Guyana">Guyana</option>

  <option value="Hong Kong SAR, China">Hong Kong SAR, China</option>

  <option value="Honduras">Honduras</option>

  <option value="Croatia">Croatia</option>

  <option value="Haiti">Haiti</option>

  <option value="Hungary">Hungary</option>

  <option value="Indonesia">Indonesia</option>

  <option value="India">India</option>

  <option value="Ireland">Ireland</option>

  <option value="Iraq">Iraq</option>

  <option value="Iceland">Iceland</option>

  <option value="Israel">Israel</option>

  <option value="Italy">Italy</option>

  <option value="Jamaica">Jamaica</option>

  <option value="Jordan">Jordan</option>

  <option value="Japan">Japan</option>

  <option value="Kazakhstan">Kazakhstan</option>

  <option value="Kenya">Kenya</option>

  <option value="Kyrgyz Republic">Kyrgyz Republic</option>

  <option value="Cambodia">Cambodia</option>

  <option value="Kiribati">Kiribati</option>

  <option value="St. Kitts and Nevis">St. Kitts and Nevis</option>

  <option value="Korea, Rep.">Korea, Rep.</option>

  <option value="Kuwait">Kuwait</option>

  <option value="Lao PDR">Lao PDR</option>

  <option value="Lebanon">Lebanon</option>

  <option value="Liberia">Liberia</option>

  <option value="Libya">Libya</option>

  <option value="St. Lucia">St. Lucia</option>

  <option value="Sri Lanka">Sri Lanka</option>

  <option value="Lesotho">Lesotho</option>

  <option value="Lithuania">Lithuania</option>

  <option value="Luxembourg">Luxembourg</option>

  <option value="Latvia">Latvia</option>

  <option value="Macao SAR, China">Macao SAR, China</option>

  <option value="Morocco">Morocco</option>

  <option value="Moldova">Moldova</option>

  <option value="Madagascar">Madagascar</option>

  <option value="Maldives">Maldives</option>

  <option value="Mexico">Mexico</option>

  <option value="Marshall Islands">Marshall Islands</option>

  <option value="North Macedonia">North Macedonia</option>

  <option value="Mali">Mali</option>

  <option value="Malta">Malta</option>

  <option value="Myanmar">Myanmar</option>

  <option value="Montenegro">Montenegro</option>

  <option value="Mongolia">Mongolia</option>

  <option value="Mozambique">Mozambique</option>

  <option value="Mauritania">Mauritania</option>

  <option value="Mauritius">Mauritius</option>

  <option value="Malawi">Malawi</option>

  <option value="Malaysia">Malaysia</option>

  <option value="Namibia">Namibia</option>

  <option value="Niger">Niger</option>

  <option value="Nigeria">Nigeria</option>

  <option value="Nicaragua">Nicaragua</option>

  <option value="Netherlands">Netherlands</option>

  <option value="Norway">Norway</option>

  <option value="Nepal">Nepal</option>

  <option value="Nauru">Nauru</option>

  <option value="New Zealand">New Zealand</option>

  <option value="Oman">Oman</option>

  <option value="Pakistan">Pakistan</option>

  <option value="Panama">Panama</option>

  <option value="Peru">Peru</option>

  <option value="Philippines">Philippines</option>

  <option value="Palau">Palau</option>

  <option value="Papua New Guinea">Papua New Guinea</option>

  <option value="Poland">Poland</option>

  <option value="Puerto Rico">Puerto Rico</option>

  <option value="Portugal">Portugal</option>

  <option value="Paraguay">Paraguay</option>

  <option value="West Bank and Gaza">West Bank and Gaza</option>

  <option value="Qatar">Qatar</option>

  <option value="Romania">Romania</option>

  <option value="Russian Federation">Russian Federation</option>

  <option value="Rwanda">Rwanda</option>

  <option value="Saudi Arabia">Saudi Arabia</option>

  <option value="Sudan">Sudan</option>

  <option value="Senegal">Senegal</option>

  <option value="Singapore">Singapore</option>

  <option value="Solomon Islands">Solomon Islands</option>

  <option value="Sierra Leone">Sierra Leone</option>

  <option value="El Salvador">El Salvador</option>

  <option value="Serbia">Serbia</option>

  <option value="Sao Tome and Principe">Sao Tome and Principe</option>

  <option value="Suriname">Suriname</option>

  <option value="Slovak Republic">Slovak Republic</option>

  <option value="Slovenia">Slovenia</option>

  <option value="Sweden">Sweden</option>

  <option value="Eswatini">Eswatini</option>

  <option value="Seychelles">Seychelles</option>

  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>

  <option value="Chad">Chad</option>

  <option value="Togo">Togo</option>

  <option value="Thailand">Thailand</option>

  <option value="Tajikistan">Tajikistan</option>

  <option value="Turkmenistan">Turkmenistan</option>

  <option value="Timor-Leste">Timor-Leste</option>

  <option value="Tonga">Tonga</option>

  <option value="Trinidad and Tobago">Trinidad and Tobago</option>

  <option value="Tunisia">Tunisia</option>

  <option value="Turkey">Turkey</option>

  <option value="Tuvalu">Tuvalu</option>

  <option value="Tanzania">Tanzania</option>

  <option value="Uganda">Uganda</option>

  <option value="Ukraine">Ukraine</option>

  <option value="Uruguay">Uruguay</option>

  <option value="United States">United States</option>

  <option value="Uzbekistan">Uzbekistan</option>

  <option value="St. Vincent and the Grenadines">St. Vincent and the Grenadines</option>

  <option value="Vietnam">Vietnam</option>

  <option value="Vanuatu">Vanuatu</option>

  <option value="Samoa">Samoa</option>

  <option value="Kosovo">Kosovo</option>

  <option value="Yemen, Rep.">Yemen, Rep.</option>

  <option value="South Africa">South Africa</option>

  <option value="Zambia">Zambia</option>

  <option value="Zimbabwe">Zimbabwe</option>

</select>
</div>

                                  <button type="submit" class="button is-primary">Find</button>



                            </div>
                             <div class="column">
                            {{form_data.amt}} {{form_data.cur1}} {{form_data.str1}} {{form_data.cuntr1}} {{form_data.str2}} {{form_data.final}} {{form_data.cur2}} {{form_data.str1}} {{form_data.cuntr2}}       <div class="large-3 columns">&nbsp;</div>
                                      </div>
                                      </form>

                                    <form>
                      

                        
                            <div class="field">
                  
                            </div>
                         
                        </form>
                      </div>
                    </div>
                </div>
                    </p>
                </div>
            </div>    <a href="http://www.github.com/xnachiket" style="text-align: right">xnachiket</p>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>

</body>

</html>
